body{
    background-image: url('../images/imgt.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
h2{
    color: whitesmoke;
    text-align: center;
    font-family: cursive;
}
.canvas{
    text-align: center;
    margin-top: 5rem;
}